<html>

    <head>
         <link rel="stylesheet" type="text/css" href="./css/main.css">
         <title>Clientes</title>
    </head>

    <body>
       
         <div id="BarraMenu">
            <h1>Clientes</h1>

            <div id="Links">
               
               <b><a href="">Home</a>
               <b><a href="">Projeto</a>
               <b><a href="">Contato</a>
               <b><a href="">Sobre</a></b>

            </div>
          </div>
        <div id="Cadastro">
           

           <div class="card">
               
               <div class="card-top">
                
                 <h2 class="title">Cadastro de Clientes</h2>
                 
               </div>

               <div class="card-group">
                   <label>Nome</label>
                   <input type="text" name="nome" placeholder="Digite seu Nome" required>
               </div>

               <div class="card-group">
                   <label>Sobrenome</label>
                   <input type="text" name="Sobrenome" placeholder="Digite seu Sobrenome" required>
               </div>
                <div class="card-group">
                   <label>CPF</label>
                   <input type="text" name="cpf" placeholder="Digite seu CPF" required>
               </div>
               <div class="card-group">
                   <label>Telefone</label>
                   <input type="text" name="telefone" placeholder="Digite seu Telefone" required>
               </div>
               <div class="card-group">
                   <label>Email</label>
                   <input type="email" name="email" placeholder="Digite seu Email" required>
               </div>

               <div class="card-groupbtn">
                   <button type="submit">Salvar</button><br><br>

               </div>
               <div class="card-group">
                  <button type="submit">Excluir</button>
               </div>
           </div>
      
       </div>
       <div id="Cadastro">
           

           <div class="card">
               
               <div class="card-top">
                
                 <h2 class="title">Informações Cadastradas</h2>
                 
               </div>

               <div class="card-group">
                   <label>Nome</label>
                   <input type="text" name="nome" placeholder="Suas Informações aparecerão aqui" required>
               </div>

               <div class="card-group">
                   <label>Sobrenome</label>
                   <input type="text" name="Sobrenome" placeholder="Suas Informações aparecerão aqui" required>
               </div>

                <div class="card-group">
                   <label>CPF</label>
                   <input type="text" name="cpf" placeholder="Suas Informações aparecerão aqui" required>
               </div>

               <div class="card-group">
                   <label>Telefone</label>
                   <input type="text" name="telefone" placeholder="Suas Informações aparecerão aqui" required>
               </div>

               <div class="card-group">
                   <label>Email</label>
                   <input type="email" name="email" placeholder="Suas Informações aparecerão aqui" required>
               </div>

           </div>
      
       </div>

    </body>


</html>